{{- if eq .chezmoi.os "darwin" -}}
eval "$(/opt/homebrew/bin/brew shellenv)"
{{ end -}}

# Created by `userpath` on 2024-05-16 06:13:00
export PATH="$PATH:{{ .chezmoi.homeDir }}/Library/Application Support/hatch/pythons/3.9/python/bin"

# Created by `userpath` on 2024-05-16 06:13:03
export PATH="$PATH:{{ .chezmoi.homeDir }}/Library/Application Support/hatch/pythons/3.10/python/bin"

# Created by `userpath` on 2024-05-16 06:13:06
export PATH="$PATH:{{ .chezmoi.homeDir }}/Library/Application Support/hatch/pythons/3.11/python/bin"

# Created by `userpath` on 2024-05-16 06:13:10
export PATH="$PATH:{{ .chezmoi.homeDir }}/Library/Application Support/hatch/pythons/3.12/python/bin"

