[user]
	name = Shane Anderson
{{- if not .work }}
	email = 17208811+rxvt@users.noreply.github.com
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIAMShiJ2tu9PanMRrPQbE11Wswcr+z4Hu8pjRk46kyy8
{{ else }}
  email = sanderson@atlassian.com
{{ end -}}
[core]
  autocrlf = input
[init]
	defaultBranch = main
{{- if not .work }}
[push]
	followTags = true
	autoSetupRemote = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[gpg]
	format = ssh
[gpg "ssh"]
{{ if eq .chezmoi.os "linux" }}
  program = /opt/1Password/op-ssh-sign
{{ else }}
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
{{ end }}
[commit]
	gpgsign = true
{{ end }}
{{ if .work }}
[url "ssh://git@stash.atlassian.com:7997/"]
  insteadOf = https://stash.atlassian.com/scm/
[url "git@bitbucket.org:"]
  insteadOf = https://bitbucket.org
{{ end -}}

[core]
    pager = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    features = arctic-fox
    navigate = true  # use n and N to move between diff sections
    #dark = true      # or light = true, or omit for auto-detection
    #side-by-side = true

[merge]
    conflictstyle = zdiff3

[include]
    path = ~/.config/delta/themes.gitconfig
