{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash

brew bundle --no-lock --file=/dev/stdin <<EOF
brew "aws-sam-cli"
brew "awscli"
brew "bandwhich"
brew "bat"
brew "bpython"
brew "btop"
brew "coreutils"
brew "direnv"
brew "duf"
brew "eza"
brew "fd"
brew "ffmpeg"
brew "flac"
brew "fzf"
brew "git"
brew "go"
brew "grex"
brew "httpie"
brew "jq"
brew "lame"
brew "lazydocker"
brew "lima"
brew "midnight-commander"
brew "navi"
brew "ncdu"
brew "neovim"
brew "node"
brew "nvm"
brew "pipx"
brew "poetry"
brew "procs"
brew "pyenv"
brew "ripgrep"
brew "rmlint"
brew "ruff"
brew "rust"
brew "sd"
brew "speedtest-cli"
brew "tmux"
brew "yt-dlp"
brew "zoxide"
brew "zsh"
cask "anki"
cask "homebrew/cask/alfred"
cask "homebrew/cask/audacity"
cask "homebrew/cask/dash"
cask "homebrew/cask/hammerspoon"
cask "homebrew/cask/handbrake"
cask "homebrew/cask/httpie"
cask "homebrew/cask/kindle"
cask "homebrew/cask/kitty"
cask "homebrew/cask/notion"
cask "homebrew/cask/plex-media-server"
cask "homebrew/cask/qbittorrent"
cask "homebrew/cask/spotify"
cask "homebrew/cask/vlc"
cask "homebrew/cask/wireshark"
EOF
{{ end -}}
