{{- if eq .osid "darwin" -}}
#!/bin/bash

brew bundle --file=/dev/stdin <<EOF
brew "asdf"
brew "awscli"
brew "bandwhich"
brew "bat"
brew "btop"
brew "coreutils"
brew "direnv"
brew "docker"
brew "doggo"
brew "duf"
brew "eza"
brew "fd"
brew "ffmpeg"
brew "flac"
brew "fzf"
brew "git"
brew "git-delta"
brew "go"
brew "grex"
brew "lazygit"
brew "jq"
brew "just"
brew "lazydocker"
brew "midnight-commander"
brew "mprocs"
brew "navi"
brew "ncdu"
brew "neovim"
brew "node"
brew "nvm"
brew "poetry"
brew "procs"
brew "ripgrep"
brew "rmlint"
brew "rust"
brew "sd"
brew "speedtest-cli"
brew "starship"
brew "xh"
brew "yt-dlp"
brew "zellij"
brew "zoxide"
brew "zsh"
brew "zsh-autosuggestions"
brew "zsh-completions"
brew "zsh-syntax-highlighting"
cask "alfred"
cask "betterdisplay"
cask "burp-suite"
cask "font-hack-nerd-font"
cask "handbrake"
cask "insomnia"
cask "rectangle-pro"
cask "vlc"

{{- if not .work }}
brew "fish"
brew "lame"
brew "podman"
brew "podman-compose"
brew "podman-tui"
brew "posting"
cask "anki"
cask "audacity"
cask "calibre"
cask "dosbox-x"
cask "iina"
cask "mp3tag"
cask "podman-desktop"
cask "qbittorrent"
cask "scummvm"
cask "spotify"
cask "swinsian"
cask "wireshark"

{{ end }}
EOF
# A lot of these taken from https://macos-defaults.com/

# Set function keys to work as standard function keys
defaults write NSGlobalDomain com.apple.keyboard.fnState -bool true

# Show all filename extensions
defaults write NSGlobalDomain "AppleShowAllExtensions" -bool "false" && killall Finder

# Set each display to have separate spaces
defaults write com.apple.spaces "spans-displays" -bool "false" && killall SystemUIServer

# Disable double space period
defaults write NSGlobalDomain "NSAutomaticPeriodSubstitutionEnabled" -bool false

# Enable key repeat for VSCode
# Taken from https://github.com/VSCodeVim/Vim
defaults write com.microsoft.VSCode ApplePressAndHoldEnabled -bool false
{{ end -}}
