{{- if .linux_vm_host -}}
#!/usr/bin/bash
set -euo pipefail

{{ if eq .osid "linux-arch" }}
sudo pacman -Sy --needed \
  dnsmasq \
  iptables-nft \
  podman \
  podman-compose
{{ end }}

{{ if eq .osid "linux-fedora" }}
sudo dnf install -y
  dnsmasq \
  iptables-nft \
  podman \
  podman-compose
{{ end }}

sudo systemctl enable --now libvirtd.service
sudo usermod -aG libvirt $(whoami)
sudo virsh net-start default
sudo virsh net-autostart default
sudo ufw allow in on virbr0
sudo ufw allow out on virbr0
sudo ufw default allow routed
sudo ufw reload
{{ end }}
