{{- if eq .osid "linux-arch" -}}
#!/usr/bin/bash

#
# Package installation
#

sudo pacman -S \
  extra/aws-cli \
  bandwhich \
  bat \
  direnv \
  duf \
  eza \
  fd \
  fzf \
  go \
  jq \
  lazygit \
  ncdu \
  neovim \
  npm \
  podman \
  podman-compose \
  ripgrep \
  sd \
  ttf-hack-nerd \
  extra/ttf-nerd-fonts-symbols \
  extra/ttf-nerd-fonts-symbols-common \
  extra/ttf-nerd-fonts-symbols-mono \
  extra/uv \
  yt-dlp \
  zellij \
  zoxide \
  zsh

{{ end -}}
