{{- if eq .osid "linux-arch" -}}
#!/usr/bin/bash
set -euo pipefail

sudo pacman -Sy --needed \
  aws-cli-v2 \
  bandwhich \
  bat \
  chezmoi \
  clang \
  direnv \
  doggo \
  duf \
  eza \
  fd \
  fzf \
  git-delta \
  go \
  jq \
  lazygit \
  omarchy/makima-bin \
  ncdu \
  neovim \
  npm \
  openssh \
  opencode \
  ripgrep \
  sd \
  starship \
  tmux \
  tuicr \
  unzip \
  uv \
  zoxide
{{ end }}
