{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash

brew bundle --no-lock --file=/dev/stdin <<EOF
brew "aws-sam-cli"
brew "awscli"
brew "bat"
brew "bpython"
brew "btop"
brew "coreutils"
brew "direnv"
brew "exa"
brew "ffmpeg"
brew "flac"
brew "fzf"
brew "git"
brew "go"
brew "jq"
brew "lame"
brew "lima"
brew "midnight-commander"
brew "neovim"
brew "node"
brew "nvm"
brew "pipx"
brew "poetry"
brew "pyenv"
brew "ripgrep"
brew "ruff"
brew "rust"
brew "speedtest-cli"
brew "tmux"
brew "youtube-dl"
brew "zsh"
cask "anki"
cask "homebrew/cask/alfred"
cask "homebrew/cask/audacity"
cask "homebrew/cask/dash"
cask "homebrew/cask/hammerspoon"
cask "homebrew/cask/handbrake"
cask "homebrew/cask/kindle"
cask "homebrew/cask/kitty"
cask "homebrew/cask/logitech-g-hub"
cask "homebrew/cask/notion"
cask "homebrew/cask/plex"
cask "homebrew/cask/qbittorrent"
cask "homebrew/cask/spotify"
cask "homebrew/cask/vlc"
cask "homebrew/cask/wireshark"
EOF
{{ end -}}
