{{- if .linux-vm-host }}
#!/usr/bin/bash
sudo pacman -Sy \
  dnsmasq \
  iptables-nft \
  podman \
  podman-compose
sudo systemctl enable --now libvirtd.service
sudo usermod -aG libvirt $(whoami)
sudo virsh net-start default
sudo virsh net-autostart default
sudo ufw allow in on virbr0
sudo ufw allow out on virbr0
sudo ufw default allow routed
sudo ufw reload
{{ end }}
