{{- if eq .osid "linux-arch" -}}
#!/usr/bin/bash

#
# Package installation
#

yay -S \
  aws-cli-v2 \
  bandwhich \
  bat \
  direnv \
  doggo \
  duf \
  eza \
  fd \
  fzf \
  git-delta \
  go \
  jq \
  lazygit \
  ncdu \
  neovim \
  npm \
  podman \
  podman-compose \
  ripgrep \
  sd \
  ttf-hack-nerd \
  uv \
  yazi \
  zellij \
  zoxide

{{ end -}}
