{{- if eq .osid "darwin" -}}
#!/bin/bash

brew bundle --file=/dev/stdin <<EOF
brew "bandwhich"
brew "bat"
brew "btop"
brew "coreutils"
brew "doggo"
brew "duf"
brew "eza"
brew "fd"
brew "ffmpeg"
brew "fzf"
brew "git"
brew "git-delta"
brew "go"
brew "grex"
brew "jq"
brew "just"
brew "midnight-commander"
brew "mprocs"
brew "navi"
brew "ncdu"
brew "neovim"
brew "procs"
brew "ripgrep"
brew "sd"
brew "speedtest-cli"
brew "starship"
brew "xh"
brew "zellij"
brew "zoxide"
brew "zsh"
brew "zsh-autosuggestions"
brew "zsh-completions"
brew "zsh-syntax-highlighting"
cask "alfred"
cask "betterdisplay"
cask "font-hack-nerd-font"
cask "ghostty"
cask "handbrake"
cask "rectangle-pro"
cask "vlc"

{{- if .work }}
brew "asdf"
brew "awscli"
brew "direnv"
brew "docker"
brew "lazydocker"
brew "lazygit"
brew "node"
brew "nvm"
brew "poetry"
brew "rmlint"
brew "rust"
{{ end }}

{{- if not .work }}
brew "fish"
brew "flac"
brew "lame"
brew "yt-dlp"
cask "anki"
cask "audacity"
cask "calibre"
cask "dosbox-x"
cask "iina"
cask "mp3tag"
cask "scummvm"
cask "spotify"
cask "swinsian"

{{ end }}
EOF
# A lot of these taken from https://macos-defaults.com/

# Set function keys to work as standard function keys
defaults write NSGlobalDomain com.apple.keyboard.fnState -bool true

# Show all filename extensions
defaults write NSGlobalDomain "AppleShowAllExtensions" -bool "false" && killall Finder

# Set each display to have separate spaces
defaults write com.apple.spaces "spans-displays" -bool "false" && killall SystemUIServer

# Disable double space period
defaults write NSGlobalDomain "NSAutomaticPeriodSubstitutionEnabled" -bool false

# Enable key repeat for VSCode
# Taken from https://github.com/VSCodeVim/Vim
defaults write com.microsoft.VSCode ApplePressAndHoldEnabled -bool false

# Set mouse tracking speed
defaults write -g com.apple.mouse.scaling -float 1.5
{{ end -}}
