{{- if eq .osid "darwin" -}}
#!/bin/bash
# A lot of these taken from https://macos-defaults.com/
set -euo pipefail

# Set function keys to work as standard function keys
defaults write NSGlobalDomain com.apple.keyboard.fnState -bool true

# Show all filename extensions
defaults write NSGlobalDomain "AppleShowAllExtensions" -bool "false" && killall Finder

# Set each display to have separate spaces
defaults write com.apple.spaces "spans-displays" -bool "false" && killall SystemUIServer

# Disable double space period
defaults write NSGlobalDomain "NSAutomaticPeriodSubstitutionEnabled" -bool false

# Enable key repeat for VSCode
# Taken from https://github.com/VSCodeVim/Vim
defaults write com.microsoft.VSCode ApplePressAndHoldEnabled -bool false

# Set mouse tracking speed
defaults write -g com.apple.mouse.scaling -float 1.5

echo "!!!!!"
echo "Make sure you restart MacOS for MacOS settings to take effect!"
echo "!!!!!"
{{ end }}
