{{- if eq .osid "darwin" -}}
#!/bin/bash
set -euo pipefail

brew bundle --file=/dev/stdin <<EOF
brew "awscli"
brew "bandwhich"
brew "bat"
brew "btop"
brew "coreutils"
brew "direnv"
brew "doggo"
brew "duf"
brew "eza"
brew "fd"
brew "ffmpeg"
brew "flac"
brew "fzf"
brew "git"
brew "git-delta"
brew "go"
brew "grex"
brew "hatch"
brew "herdr"
brew "jq"
brew "just"
brew "lame"
brew "lazydocker"
brew "lazygit"
brew "mprocs"
brew "navi"
brew "ncdu"
brew "neovim"
brew "node"
brew "nvm"
brew "opencode"
brew "procs"
brew "qemu"
brew "ripgrep"
brew "rmlint"
brew "rust"
brew "sd"
brew "starship"
brew "tuicr"
brew "xh"
brew "yt-dlp"
brew "zoxide"
cask "alfred"
cask "anki"
cask "audacity"
cask "betterdisplay"
cask "calibre"
cask "dash"
cask "font-hack-nerd-font"
cask "font-jetbrains-mono-nerd-font"
cask "ghostty"
cask "handbrake-app"
cask "iina"
cask "localsend"
cask "mp3tag"
cask "orbstack"
cask "rectangle-pro"
cask "spotify"
cask "swinsian"
cask "utm"
cask "vlc"
cask "yoink"

EOF
{{ end -}}
