Host *
    IgnoreUnknown UseKeychain
    UseKeychain yes
    ForwardAgent yes
  {{- if eq .chezmoi.os "darwin" }}
    IdentityAgent "~/Library/Group Containers/2BUA8C4S2C.com.1password/t/agent.sock"
  {{ else }}
    IdentityAgent "~/.1password/agent.sock"
  {{- end -}}

{{ if not .work -}}
Host osmc
    HostName osmc
    User osmc

Host media
    Hostname 192.168.4.101
{{ end }}
