Host *
    UseKeychain yes

{{- if ne .chezmoi.username "sanderson" }}
Host osmc
    HostName osmc
    User osmc

{{- if eq .chezmoi.os "darwin" }}
Host *
  IdentityAgent "~/Library/Group Containers/2BUA8C4S2C.com.1password/t/agent.sock"
{{- end }}
{{- end}}

{{- if eq .chezmoi.username "sanderson" }}
{{- end}}

