# theme = catppuccin-mocha
# theme = catppuccin-frappe
 theme = catppuccin-macchiato
font-family = Hack Nerd Font Mono
{{ if eq .chezmoi.os "linux" }}
font-size = 13
{{ else }}
font-size = 16
{{ end }}
# font-thicken = true
macos-option-as-alt = true
