# set font stuff
font_family      Hack Nerd Font Mono Regular
bold_font        Hack Nerd Font Mono Bold
italic_font      Hack Nerd Font Mono Italic
bold_italic_font Hack Nerd Font Mono Bold Italic
font_size        12

# turn off bell
enable_audio_bell no

# tab bar
tab_bar_edge top
tab_bar_style powerline
tab_powerline_style slanted
tab_bar_margin_width 2
tab_title_template "{fmt.fg.red}{bell_symbol}{activity_symbol}{fmt.fg.tab}{index}: {title}"
active_tab_foreground   #d3d7cf
active_tab_background   #2E3440
active_tab_font_style   normal
inactive_tab_foreground #d3d7cf
inactive_tab_background #222222
tab_bar_background      #222222
tab_bar_margin_color    #222222

# set title bar colour to be the same as the window inactive_tab_background
macos_titlebar_color background

# turn off update checking as we get it via package manager
update_check_interval 0

# toggle fullscreen
map cmd+enter toggle_fullscreen

# BEGIN_KITTY_THEME
include Catppuccin-Macchiato.conf
# END_KITTY_THEME

# tmux macOS mappings
# https://www.joshmedeski.com/posts/macos-keyboard-shortcuts-for-tmux/
# Format: \x00 = ctrl+space
#         c,n,p = literal c, n, p characters
map cmd+t no_op
map cmd+t send_text normal,application \x00c
map cmd+shift+] send_text normal,application \x00n
map cmd+shift+[ send_text normal,application \x00p
map cmd+1 send_text normal,application \x001
map cmd+2 send_text normal,application \x002
map cmd+3 send_text normal,application \x003
map cmd+4 send_text normal,application \x004
map cmd+5 send_text normal,application \x005
map cmd+6 send_text normal,application \x006
map cmd+7 send_text normal,application \x007
map cmd+8 send_text normal,application \x008
map cmd+9 send_text normal,application \x009

{{ if eq .chezmoi.os "linux" -}}
hide_window_decorations yes
{{- end }}

# On macOS use option as alt
macos_option_as_alt yes

shell_integration no-cursor
