# List of plugins
set -g @plugin 'tmux-plugins/tpm'
set -g @plugin 'tmux-plugins/tmux-sensible'
set -g @plugin 'tmux-plugins/tmux-yank'
set -g @plugin "arcticicestudio/nord-tmux"
set -g @plugin 'schasse/tmux-jump'

# Enable 24bit colour
# https://github.com/tmux/tmux/wiki/FAQ#how-do-i-use-rgb-colour
set -as terminal-features ",xterm*:Tc"
set -as terminal-features ",xterm*:RGB"

# Rebind prefix to ctrl-space
unbind C-b
set -g prefix C-Space
bind C-Space send-prefix

# VIM panel navigation
# https://stackoverflow.com/questions/30719042/tmux-using-hjkl-to-navigate-panes
bind h select-pane -L
bind j select-pane -D
bind k select-pane -U
bind l select-pane -R

# Start windows and panes at 1, not 0
set -g base-index 1
setw -g pane-base-index 1

# Sane split pane keybindings
# https://www.hamvocke.com/blog/a-guide-to-customizing-your-tmux-conf/
bind | split-window -h
bind - split-window -v
unbind '"'
unbind %

# Easy config reloads
# https://www.hamvocke.com/blog/a-guide-to-customizing-your-tmux-conf/
bind C-r source-file ~/.config/tmux/tmux.conf \; display "Configuration reloaded!"

# use vim keybinding in copy mode
setw -g mode-keys vi

# vim-like easymotion style navigation
set -g @jump-key 's'

# Sane window renaming binding
bind-key r command-prompt -I "#W" "rename-window '%%'"

# use system clipboard
set -g set-clipboard on

# renumber windows when a window is closed
set -g renumber-windows on

# Sane mouse scrolling
# https://superuser.com/questions/209437/how-do-i-scroll-in-tmux
set -g mouse on

# Switch to last active window
bind C-Space last-window

# Aggresive resize
setw -g aggressive-resize on

# URL Launcher
bind-key C-u run-shell -b "tmux capture-pane -J -p | grep -oE '(https?):\/\/.*[^>]' | fzf-tmux -d20 --multi --bind alt-a:select-all,alt-d:deselect-all | xargs open"

# Shift windows
bind-key -n C-S-Left swap-window -t -1\; select-window -t -1
bind-key -n C-S-Right swap-window -t +1\; select-window -t +1

# Initialize TMUX plugin manager (keep this line at the very bottom of tmux.conf)
run '~/.config/tmux/plugins/tpm/tpm'
