# Disable Fish greeting
set -g fish_greeting

set -gx EDITOR nvim

# Local bin
set -gx --prepend PATH "$HOME/.local/bin"

{{ if eq .chezmoi.os "darwin" }}

# Homebrew
/opt/homebrew/bin/brew shellenv | source
set -gx HOMEBREW_NO_AUTO_UPDATE 1

{{ end }}

{{ if eq .chezmoi.os "linux" }}

# libvirt
set -gx LIBVIRT_DEFAULT_URI "qemu:///system"

{{ end }}

# UV
set -gx UV_PYTHON_PREFERENCE only-managed

# direnv
direnv hook fish | source

# fzf
fzf --fish | source

# Starship
set -gx STARSHIP_CONFIG "$HOME/.config/starship/starship.toml"
starship init fish | source

# Zoxide
zoxide init fish | source

# Aliases
alias cd="z"
alias cad="chezmoi add"
alias ca="chezmoi apply"
alias cra="chezmoi re-add --verbose"
alias cat="bat"
alias ccd="chezmoi cd"
alias ce="chezmoi edit"
alias cv="chezmoi verify"
alias gf="git fetch"
alias gp="git pull"
alias gs="git status"
alias fzfp="fzf --preview 'bat --color=always {}'"
alias lg="lazygit"
alias ll="eza --icons -l"
alias ls="eza --icons"
alias lt="eza --tree --level=2 --long --icons --git"
alias ltree="eza --tree --level=2  --icons --git"
alias mc="mc"
alias vim="nvim"
alias v="nvim"
alias zj="zellij"

if status is-interactive
    # Commands to run in interactive sessions can go here
end
